# Python
__pycache__/
*.pyc
.venv/
.env

# Docker
pgdata/
*.tar
db_dump.sql

# Node (future UI)
node_modules/
dist/
build/

# OS noise
.DS_Store
Thumbs.db

# SSH keys (never commit private keys!)
**/id_ed25519
**/id_rsa
**/authorized_keys
